{{define "Homepage"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home page</title>
</head>
<body>
    <header class="main-header">
    <nav>
      <ul class="leftheader">
        <li><a href="#Home">Home</a></li>
        <li><a href="#Add">Add</a></li>
      </ul>
    </nav>
    <a id="logo" href="#"><img src="/static/img/logo/Logo.png" width="90" height="60" alt="Logo"></a>
    <nav>
      <ul class="rightheader">
        <li><a href="#Login">Login</a></li>
        <li><a href="#Signup">Signup</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>LES PRODUITS</h1>
    {{range .}}
    <div class="product-card">
      <h2>{{.Name}}</h2>
      <p>Price: ${{.Price}}</p>
      <a href="#"><img src="{{.Image}}" alt="{{.Name}}" width="200" height="auto"></a>
    </div>
    {{end}}
  </main>   
</body>
</html>
{{end}}